* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}
@media only screen and (max-width:1200px) and (min-width:900px) {
    section {
        min-height: 100vh;
    }
    .descri{
        height: 200px;
    }
    .cards {
        width: 30%;
        margin-left: 140px;
    }
    .box-container{
        width: 3    0%;
        margin-top: 15px;
        /* margin-left: 110px; */
    }
    .contact {
        height: 140vh;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    }
    .contact-left {
        width: 450px;
        margin-left: 5px;
    }
    .contact-right {
        width: 600px;
        margin-left: 0;
        padding-left: 7px;
    }
    tr td {
        font-size: 16px;
    }
}
@media only screen and (max-width:900px) and (min-width: 800px) {
    #sec1 {
        width: 100%;
    }
    .navbar a {
        font-size: 16px;
        margin-left: 10px;
        padding: 5px;
    }
    #sec1 h1 {
        font-size: 2.1rem;
        padding-top: 5px;
    }
    #sec1 h4 {
        font-size: 18px;
        width: 32%;
    }
    #sec1 .btn{
        font-size: 16px;
        padding: 7px 13px;
    }
    section{
        min-height: 70vh;
    }
    .descri{
        height: 200px;
    }
    .cards {
        width: 30%;
        margin-left: 110px;
    }
    .Skills {
        width: 75%;
    }
    .contact {
        height: 140vh;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    } 
    .contact-left {
        width: 450px;
        margin-left: 5px;
    }
    tr td {
        font-size: 16px;
    }
}
@media only screen and (max-width:800px) and (min-width: 650px) {
    #sec1 {
        min-height: 50vh;
    }
    section {
        min-height: 90vh;
    }
    #sec1 h1 {
        font-size: 2rem;
        padding-top: 5px;
    }
    .container {
        margin-bottom: 20px;
    }
    #sec1 h4 {
        font-size: 18px;
        width: 45%;
    }
    #sec1 .btn {
        font-size: 16px;
        padding: 7px 13px;
    }
    .logo {
        font-size: 24px;
    }
    .navbar a{
        font-size: 16px;
        margin-left: 10px;
        padding: 5px;
    }
    section {
        min-height: 120vh;
    }
    .descri{
        height: 230px;
    }
    .Skills {
        width: 75%;
    }
    .cards {
        margin-left: 180px;
        width: 45%;
    }
    .box{
        width: 100%;
        margin-left: 30px;
    }
    .box-container {
        width: 50%;
        margin: 130px;
        margin-top: 30px;
    }
    .contact {
        height: 175vh;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    }
    .input-row {
        display: flex;
        width: 100%;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    }
    .contact-left {
        width: 100%;
        margin-left: 0;
        padding-left: 7px;
    }
    .contact-right {
        margin-left: 0;
        padding-left: 7px;
    }
    tr td {
        font-size: 16px;
    }
}
@media only screen and (max-width:650px) and (min-width: 500px) {
    #sec1 {
        min-height: 95vh;
    }
    .navbar a {
        padding: 0 2rem;
    }
    #sec1 {
        max-height: 70vh;
    }
    #sec1 h1 {
        font-size: 2.1rem;
        padding-top: 5px;
    }
    #sec1 h4 {
        font-size: 18px;
        width: 45%;
    }
    #sec1 .btn {
        font-size: 16px;
        padding: 7px 13px;
    }
    section {
        min-height: 670px;
    }
    .info h1 {
        font-size: 28px;
    }
    .descri{
        height: 280px;
    }
    .Skills {
        width: 90%;
    }
    .cards {
        width: 60%;
        margin-left: 110px;
    }
    .box{
        width: 70%;
        margin-left: 65px;
    }
    .details h1 {
        font-size: 28px;
    }
    .contact {
        height: 174.3vh;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    }
    .contact-left {
        width: 50%;
        margin: 30px 10px;
        /* padding: 30px; */
    }
    .input-row {
        display: flex;
        width: 100%;
    }
    .contact-left {
        width: 100%;
        margin-left: 0;
        padding-left: 10px;
    }
    tr td {
        font-size: 16px;
    }
    .portfolio li a {
        padding: 8px;
        width: 60px;
        font-size: 16px;
    }
    .icons li a {
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px) and (min-width: 350px) {
    #sec1 {
            min-height: 80vh;
        }
    .navbar a {
        padding: 0 2rem;
    }
    #sec1 h1 {
        font-size: 1.6rem;
        padding-top: 5px;
    }
    #sec1 h4 {
        font-size: 18px;
        width: 55%;
    }
    #sec1 .btn {
        font-size: 16px;
        padding: 7px 13px;
    }
    section {
        min-height: 800px;
    }
    .descri{
        height: 340px;
        font-size: 16px;
    }
    .Skills {
        width: 90%;
    }
    .heading h1 {
        font-size: 28px;
    }
    .cards {
        margin-left: 75px;
        width: 65%;
    }
    .details h1 {
        font-size: 28px;
    }
    .contact {
        height: 200vh;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    }
    .input-row {
        display: flex;
        width: 100%;
    }
    .contact{
        height: 170vh;
    }
    .contact-left {
        /* width: 100%; */
        margin:auto;
        padding: 30px;
    }
    .contact-right {
        margin-left: 0;
        padding-left: 7px;
    }
    tr td {
        font-size: 16px;
    }
    .portfolio li a {
        padding: 8px;
        width: 60px;
        font-size: 15px;
    }
    .icons li a {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 350px) {
    .navbar a {
        padding: 0 2rem;
    }
    #sec1 {
        min-height: 80vh;
        max-width: 670;
        width: 100%;
    }
    #sec1 h1 {
        font-size: 1.6rem;
        padding-top: 5px;
    }
    #sec1 h4 {
        font-size: 18px;
        width: 56%;
    }
    #sec1 .btn {
        font-size: 16px;
        padding: 7px 13px;
    }
    section {
        min-height: 1000px;
    }
    .descri{
        height: 620px;
    }
    .Skills {
        width: 80%;
    }
    .heading h1 {
        font-size: 28px;
    }
    .cards {
        width: 80%;
    }
    .details h1 {
        font-size: 28px;
    }
    .box{
        width: 90%;
    }
    .contact {
        height: 200vh;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
    }
    .input-row {
        display: flex;
        width: 100%;
    }
    .contact-left {
        width: 100%;
        margin-left: 0;
        padding-left: 7px;
    }
    .contact-right {
        margin-left: 0;
        padding-left: 5px;
    }
    tr td {
        font-size: 14px;
    }
    .portfolio li a {
        padding: 5px;
        width: 60px;
        font-size: 12px;
    }
    .icons li a {
        font-size: 0px;
    }
    .portfolio p{
        font-size: 14px;
    }
}

@media(max-width:730px){
    #menubar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        height: 95vh;
        top: 83px;
        right: 0;
        left: 0;
        margin: 0px 10px;  
        background: #333;
        border-top: .1rem solid rgba(225, 225, 225, .2);
        padding: 3rem 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: 50px;
        text-align: center;
        padding: 1rem;
        margin: 1rem 0;
        background: #a0dc1e;
    }
}

@media(max-width:650px){
    #menubar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        height: 95vh;
        top: 83px;
        right: 0;
        left: 0;
        margin: 0px 10px;  
        background: #333;
        border-top: .1rem solid rgba(225, 225, 225, .2);
        padding: 3rem 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: 50px;
        text-align: center;
        padding: 1rem;
        margin: 1rem 0;
        background: #a0dc1e;
    }
}

@media (max-width:850px) {
    .form{
        grid-template-columns: 1fr;
    }
    .contact-info::before{
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    .contact-form::before{
        top: -13px;
        left: initial;
        right: 70px;
    }
    .text{
        margin: 1rem 0 1.5rem 0;
    }
    .social-media{
        padding: 1.5rem 0 0 0;
    }
}
@media (max-width:480px) {
    .container{
        padding: 1.5rem;
    }
    .contact-info::before{
        display: none;
    }
    form,
    .contact-info{
        padding: 1.7rem 1.6rem ;
    }
    .text,
    .information,
    .social-media p{
        font-size: 0.8rem;
    }
    .title{
        font-size: 1.15rem;
    }
    .social-icons a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .input{
        padding: 0.45rem 1.2rem;
    }
}